/* Gooogle fonts poppins */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Poppins:wght@400;500;600;700&display=swap');


/* All Common styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

:root{
   --primary-btn: #E02C6D;
   --secondary-btn:#FFF;
}

/* Header Nav Styles */
header{
  margin-top: 5.438rem;
}
.header-nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-nav h1{
  color: #3A3A3A;
  font-size: 1.5rem;
  font-weight: 700;
}
.header-nav-description{
  display: flex;
  list-style-type: none;
}
.header-nav-description li a{
  text-decoration: none;
  padding-right: 1.25rem;
  color: #3A3A3A;
font-size: 1rem;
font-weight: 600;
}

/* Header Description and Photo styles */
.header-container{
  display: flex;
  justify-content: space-around;
}
.header-description{
width: 36.375rem;
margin-top: 9.063rem;
}
.header-description-head{
  color: #3A3A3A;
font-size: 3.25rem;
font-weight: 700;
margin-bottom: 1rem;
}
.header-description-para{
  color: #3A3A3A;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.primary-btn{
  background-color: var(--primary-btn);
  color: var(--secondary-btn);
  border-radius: 42.563rem;
  padding: 0.625rem 1.5rem;
  border: 0;
  cursor: pointer;
  color: #FFF;
font-size: 1rem;
font-weight: 700;
}
.fa-solid{
  padding-left: 0.5rem;
}
.header-photo{
  background-image: url("../images/Circle\ design.svg");
  margin-top: 50px;
}

/* Platform Style */
.platform-container{
  width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 100px;
}

/* Popular collection Style  */
.popular-container h1{
  text-align: center;
  margin-bottom: 50px;
  color: #3A3A3A;
font-size: 1.75rem;
font-weight: 600;
}
.popular-container-box{
  display: grid;
  grid-template-areas: 
  "box-1 box-2 box-3"
  "box-4 box-5 box-6"
  "box-7 box-8 box-9"
  ;
  justify-content: center;
  gap: 30px;
}
.box-1{grid-area: box-1;}
.box-2{grid-area: box-2;}
.box-3{grid-area: box-3;}
.box-4{grid-area: box-4;}
.box-5{grid-area: box-5;}
.box-6{grid-area: box-6;}
.box-7{grid-area: box-7;}
.box-8{grid-area: box-8;} 
.box-9{grid-area: box-9;}
.popular-box{
  border-radius: 5px;
background: #FFF;
box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
width: 330px;
padding: 10px 14px;
}
.popular-box h2{
  color:  #18191F;
font-size: 1.75rem;
font-weight: 500;
}
.popular-box .price{
  color: rgba(0, 0, 0, 0.87);
font-family: Inter;
font-size: 1.5rem;
font-weight: 400;
}
.popular-box p{
  color:  #787885;
font-family: Inter;
font-size: 0.875rem;
font-weight: 700;
}
.posi{
  width: 33%;
  position: relative;
  left: 940px;
  color: rgba(224, 44, 109, 0.87);
font-size: 1rem;
font-weight: 700;
border: 0;
background: #FFF;
}
.posi:hover{
  cursor: pointer;
}

 /* Feature products Styles */
 .feature-product-container{
    margin-top: 100px;
    margin-bottom: 100px;
 }
 .feature-top-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 }
 .feature-product-description{
  width: 36.375rem;
 }
 .feature-product-description h1{
  color: #0A0826;
font-size: 2.375rem;
font-weight: 700;
margin-bottom: 1rem;
 }
 .feature-product-description p{
  color: #6C6C6C;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
 }
 .btn-2{
  background-color: var(--primary-btn);
  color: var(--secondary-btn);
  padding: 0.625rem 1.5rem;
  border: 0;
  cursor: pointer;
 }

/* responsive design */
/* for small devices */
@media screen and (max-width: 640px) {
  header{
    margin-top: 2rem;
  }
  .header-nav{
    flex-direction: column;   
  }
  .header-nav h1{
    margin-bottom: 0.625rem; 
  }
  .header-nav-description li a{
    padding-right: 0.625rem;
  font-size: 0.7rem;
  }
  .header-container{
   flex-direction: column-reverse;
  }
  .header-description{
  width: 90%;
  }
  .header-description .btn-1{
    margin: 0 35%;
  }
  .header-description-head{
    text-align: center;
    font-size: 1.75rem;
  }
  .header-description-para{
    text-align: center;
  }

  .fa-solid{
    padding-left: 0.5rem;
  }
  /*  problem */
  .header-photo{
    background-image: url("../images/Circle\ design.svg");
    margin-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    border: 1px solid red;
    display: none;
  }
  .header-photo img{
    width: 202px;
    position: relative;
    border: 1px solid blue;
    display: none;
  }
/*  */
  .platform-container{
    width: 94%;
  flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 100px;
    gap: 10px;
  }

  .platform-images img{
    width: 80px;
  }
  .popular-container-box{
    grid-template-areas:
    "box-1"
    "box-2"
    "box-3"
    "box-4"
    "box-5"
    "box-6"
    "box-7"
    "box-8"
    "box-9";
  }
  .posi{
    left: 60%;
  }
  .popular-box{
    width: 330px;
  }

.feature-top-container{
flex-direction: column-reverse;
}
.feature-product-description{
width: 20.375rem;
}
.feature-product-image img{
  width: 300px;
  margin-top: 40px;
}

}
/* for medium devices */
@media screen and (min-width: 640px) and (max-width: 768px) {
  header{
    margin-top: 2rem;
  }
  .header-nav{
    flex-direction: column;   
  }
  .header-nav h1{
    margin-bottom: 0.625rem; 
  }
  .header-nav-description li a{
    padding-right: 0.625rem;
  font-size: 0.7rem;
  }
  .header-container{
    flex-direction: column-reverse;
   }
   .header-description{
    width: 100%;
    }

   .header-description-head{
     text-align: center;
     font-size: 1.75rem;
   }
   .header-description-para{
     text-align: center;
   }
   .primary-btn{
     position: relative;
    left: 35%;
   }
   .fa-solid{
     padding-left: 0.5rem;
   }
   /*  problem */
  .header-photo{
    background-image: url("../images/Circle\ design.svg");
    margin-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    border: 1px solid red;
    display: none;
  }
  .header-photo img{
    width: 202px;
    position: relative;
    border: 1px solid blue;
    display: none;
  }
  .platform-container{
    width: 100%;
  flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 100px;
    gap: 20px;
  }

  .platform-images img{
    width: 80px;
  }
  .popular-container-box{
    grid-template-areas:
    "box-1"
    "box-2"
    "box-3"
    "box-4"
    "box-5"
    "box-6"
    "box-7"
    "box-8"
    "box-9";
  }
  .posi{
    left: 60%;
  }
  .popular-box{
    width: 330px;
  }
  .feature-top-container{
    flex-direction: column-reverse;
    }
    .feature-product-description{
    width: 20.375rem;
    }
    .feature-product-image img{
      width: 300px;
      margin-top: 40px;
    }
    
}
/* for large devices */
@media screen and (min-width: 768px) and (max-width: 1024px) {

  .header-nav-description{
    padding-right: 1.25rem;
  }

  .header-container{
    display: flex;
    justify-content: space-around;
  }
  .header-description{
    width: 100%;
    }

  .header-description-head{
    color: #3A3A3A;
  font-size: 3.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
  }
  .header-description-para{
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .primary-btn{
    background-color: var(--primary-btn);
    color: var(--secondary-btn);
    border-radius: 42.563rem;
    padding: 0.625rem 1.5rem;
    border: 0;
    cursor: pointer;
  }
  .fa-solid{
    padding-left: 0.5rem;
  }
  /*  problem */
  .header-photo{
    background-image: url("../images/Circle\ design.svg");
    margin-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    border: 1px solid red;
    display: none;
  }
  .header-photo img{
    width: 202px;
    position: relative;
    border: 1px solid blue;
    display: none;
  }
  .platform-container{
    width: 100%;
  flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 100px;
    gap: 20px;
  }

  .platform-images img{
    width: 80px;
  }
    .popular-container-box{
    grid-template-areas:
    "box-1 box-2"
    "box-3 box-4"
    "box-5 box-6"
    "box-7 box-8"
    "box-9 box-9"
    ;
  }
  .posi{
    left: 60%;
  }
  .popular-box{
    width: 330px;
  }
  .feature-top-container{
    flex-direction: column-reverse;
    }
    .feature-product-description{
    width: 20.375rem;
    }
    .feature-product-image img{
      width: 300px;
      margin-top: 40px;
    }
}
/* for extra large devices */
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .header-nav-description{
    padding-right: 2.5rem;
  }

  .header-container{
    display: flex;
    justify-content: space-around;
  }
  .header-description{
  width: 36.375rem;
  margin-top: 9.063rem;
  }
  .header-description-head{
    color: #3A3A3A;
  font-size: 3.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
  }
  .header-description-para{
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .primary-btn{
    background-color: var(--primary-btn);
    color: var(--secondary-btn);
    border-radius: 42.563rem;
    padding: 0.625rem 1.5rem;
    border: 0;
    cursor: pointer;
  }
  .fa-solid{
    padding-left: 0.5rem;
  }
  /* problem */
  .header-photo{
    background-image: url("../images/Circle\ design.svg");
    margin-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    border: 1px solid red;
    display: none;
  }
  .header-photo img{
    width: 202px;
    position: relative;
    border: 1px solid blue;
    display: none;
  }
    .popular-container-box{
    grid-template-areas:
    "box-1 box-2"
    "box-3 box-4"
    "box-5 box-6"
    "box-7 box-8"
    "box-9 box-9"
    ;
  }
  .posi{
    left: 60%;
  }
  .popular-box{
    width: 330px;
  }
}
